<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Configuration</h2>

    <mat-slide-toggle [(ngModel)]="mfa" [checked]="mfa">
        Show MFA columns (only accurate if you collected this data)
      </mat-slide-toggle>
      <br />
      <mat-slide-toggle [(ngModel)]="portallinks" [checked]="portallinks">
        Show management links to Entra portal on objects
      </mat-slide-toggle>
      <br />
      <mat-slide-toggle [(ngModel)]="paging" [checked]="paging">
        Use server-side paging (beta). Improves performance in large tenants but will limit the search capabilities to only certain columns.
      </mat-slide-toggle>
      <br />
      <mat-slide-toggle [(ngModel)]="blueteam" [checked]="blueteam">
        I'm a blue teamer.
      </mat-slide-toggle>
  </mat-card-content>
</mat-card>
